.each_panel,.add_panel{
	width: 210px;
	float: left;
	border: 1px solid gray;
	text-align: left;
	padding:10px;
	margin-right:10px;
	min-height:120px;
	margin-top:10px;
}
.each_panel p{
	margin:0px;
	padding:0px;
}
.top_panel,.main_panel,.bottom_panel{
	float:left;
	padding:10px 0px;
	width: 100%;	
}
.create_panel{
	padding: 10px;
	border: 1px solid gray;	
	overflow: hidden;	
	margin-right:10px;
}
.content_table{
	width: 100%;
	float:left;
	padding:20px 0px;
}
.edoc-wpet-wrapper input{
	line-height: 1.5em;
}
.table_show table{
	border-collapse:collapse;
	min-width:500px;
}
.table_show table,.table_show table td,.table_show table th
{
	border:1px solid black;
	padding:10px;
	text-align:left;
}
#ajaxloading,.ajaxloading{
	position:relative;
	top:3px;
	left:-30px;
	display:none;
}
#create_table_layout{
	-webkit-transition: padding .5s; /* Safari */
    transition: padding .5s;
}
.posting{
	padding-right:45px !important;
}
#add_new{
	display:none;
}
#submit_add_row{
	display:none;
}
.right_session{
	width:700px;
	float:right;
}
.right_session .haf_div{
	width:45%;
	margin-right:5%;
	float: left;

}
.right_session .haf_div label{
	width:100%;
	float:left;
}
.content_table input[type=text]{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.just_new{
	position: absolute;
}
.email_send_link{
	float: left;
	margin-top: 15px !important;

}
.create_panel h3{
	margin:0px;
}
.table_show a{
	text-decoration: none;
	text-align: center;
}
.edoc-wpet-wrapper h1{
	font-size: 23px;
	font-weight: 400;
	padding: 9px 15px 4px 0;
	line-height: 29px;
}
.table_show table{
	min-width: 700px;
}
.main_panel{
	width: 100%;
	float:left;
}
.top_panel{
	width: 230px;
}
.left_session input[type=text]{
	width:400px;
}
.left_session{
	float:left;
	padding:20px 0px;
	margin: 20px 0px;
	width:100%;
}
.edoc-tables_page_edit-tables #message,.toplevel_page_dp-table-admin  #message{
    margin: 30px 0px 0px 0px !important;
    width: 645px !important;	
    display: inline-block;
}
