.edoc_wpet_wrapper {
    width: 100%;    
}
#wpet_main_body{
    width: 100%;
    float: left;
    display:inline-block;
    }
#wpet_sidebar{
    width: 25%;
    float:left;
    display:inline-block;
    }
#wpet_response_group{
    display:inline-block;
    width:100%;
    }
.each_panel{
    background-color:#efefef;        
    }
.each_panel,.add_panel{
	border-radius:5px;
	width: 210px;
	float: left;
	border: 1px solid gray;
	text-align: left;
	padding:10px;
	margin-right:10px;
	min-height:120px;
	margin-top:10px;
}
.each_panel p{
	margin:0px;
	padding:0px;
}
.top_panel,.main_panel,.bottom_panel{
	float:left;
	padding:10px 0px;
	width: 100%;	
}
.create_panel{
	padding: 10px;
	border: 1px solid gray;
	border-radius:5px;
	background-color:#fefefe;
	overflow: hidden;
	margin-right:10px;
}
.content_table{
	width: 75%;
	float:left;
	padding:20px 0px;
}
.edoc-wpet-wrapper input{
	line-height: 1.5em;
}
.table_show table{
	border-collapse:collapse;
	min-width:500px;
}
.table_show table,.table_show table td,.table_show table th
{
	border:1px solid black;
	padding:10px;
	text-align:left;
}
#ajaxloading,.ajaxloading{
	position:relative;
	top:3px;
	left:-30px;
	display:none;
}
#create_table_layout{
	-webkit-transition: padding .5s; /* Safari */
    transition: padding .5s;
}
.posting{
	padding-right:45px !important;
}
#add_new{
	display:none;
}
#submit_add_row{
	display:none;
}
.right_session{
	width: 330px;
    border-left: 1px solid darkgrey;
    float: right;
    background-color: #eee;
    height: 51px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    margin-top: -28px;
    margin-right: -10px;
    border-bottom: 1px solid darkgrey;
    border-top: 0px solid #eee;
}
.right_session .haf_div{
	width:45%;
	margin-right:5%;
	float: left;
}
.right_session .haf_div label{
	width:100%;
	float:left;
}
.content_table input[type=text]{
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input#value_two{
    border:1px solid #ccc;
    border-radius: 5px;
    height:28px;
    }

.just_new{
	position: absolute;
}
.email_send_link{
	float: left;
	margin-top: 15px !important;

}
.create_panel h3{
	margin:0px;
}
.table_show a{
	text-decoration: none;
	text-align: center;
}
.edoc-wpet-wrapper h1{
	font-size: 23px;
	font-weight: 400;
	padding: 9px 15px 4px 0;
	line-height: 29px;
}
.table_show table{
	min-width: 700px;
}
.main_panel{
	width: 100%;
	float:left;
}
.top_panel{
	width: 230px;
}
.left_session input[type=text]{
	width:400px;
}
.left_session{
	float:left;
	padding:20px 0px;
	margin: 20px 0px;
	width:100%;
}
.edoc-tables_page_edit-tables #message,.toplevel_page_dp-table-admin  #message{
    margin: 30px 0px 0px 0px !important;
    width: 645px !important;	
    display: inline-block;
}
#create_table_layout{
    float:right;
    background-color:#90AB76;
    background:#90AB76;
    border:#90AB76;
    box-shadow:0 1px 0 #90AB76;
    text-shadow:none;
    color: white;
	text-rendering:auto;
}
.wpetEditTables tr{
    background-color:#fafafa;
    }
.wpetEditTables tbody tr:nth-child(odd){
    background-color:#dfdfdf;
    }
.wpetEditTables tbody tr:nth-child(even){
    background-color:#fafafa;
    }
.sidebarTitle {
    text-align: center;
}
.sidebarWrapper {
    border: 1px solid grey;
    border-radius:5px;
    margin:2px;
    padding:5px;
    background-color:#fefefe;
}